{% extends "AppEntrega/padre.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de discos</title>
</head>
<body>
    
{% block titulo %}

<h5 style="color: white;"> Registre un disco al catálogo:<br><br> <h5>

    {% if formulario.errors %}

    <p style="color: white;"> Error. Reingrese los datos</p>

    {% endif %}

    <form action="" method="POST"> {% csrf_token %}

        <table>

        {{ formulario2.as_p }}
        
        </table>

        <input type="submit", value="Enviar">    

    </form>
{% endblock %}

{% block urldelboton %}
{% endblock %}

</body>
</html>